menu "Embedded SDK Configuration"
    config WIFI_SSID
        string "WiFi SSID"
        depends on !USE_WIFI_PROVISIONING_SOFTAP
        help
            The SSID of the SoftAP for WiFi
    config WIFI_PASSWORD
        string "WiFi Password"
        depends on !USE_WIFI_PROVISIONING_SOFTAP
        help
            The password of the SoftAP for WiFi
    config OPENAI_API_KEY
        string "OpenAI API Key"
        depends on !USE_WIFI_PROVISIONING_SOFTAP
        help
            The OpenAI API key
    config OPENAI_REALTIMEAPI
        string "OpenAI Realtime API"
        default "https://api.openai.com/v1/realtime?model=gpt-4o-mini-realtime-preview-2024-12-17"
        help
            The OpenAI Realtime API URI
endmenu